[Desktop Entry]
Version=1.0
Name=Firefox Profile Manager
GenericName=Web Browser
Exec=/usr/lib/firefox/firefox %u
Icon=firefox-nightly
Terminal=false
X-MultipleArgs=false
Type=Application
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;application/x-xpinstall;application/pdf;application/json;
StartupNotify=true
StartupWMClass=firefox
Categories=Network;WebBrowser;
Exec=/usr/lib/firefox/firefox --ProfileManager %u
